body{
    background-color: black;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 150px

}
#guita{
    margin-left: 35%;
    border-style: inset;
}
h3{
    text-align: center;
    font-size: 225%;
}
#ima1{
    
}